@import url('defaults.css');
@import url('helpers.css');

.btn-share {
  background-color: #4d6fa9;
  color: #fff;
  padding: 1rem 1.3rem;
  font-size: 1.3rem;
}

.btn-text {
  display: inline-block;
  vertical-align: middle;
}

.btn-img {
  display: inline-block;
  margin-right: .5rem;
  vertical-align: middle;
  width: 2.5rem;
}

.header-container {
  margin-bottom: 0rem;
  top: 6rem;
}

.header-container-share {text-align: center;top: 0;}

.header-title {color: #888;font-size: 3rem;text-align: center;}

.header-subtitle {color: #aaa;font-size: 1.2rem;text-align: center;line-height: 1.5;width: 36rem;margin: 0 auto;}

.header-share {
  font-family: Bariol;
  color: #fff;
  margin-bottom: 3rem;
  /* top: -8rem; */
}

.section {
  padding: 2rem 3rem;  
}

.container {
  margin: 0 auto;
  /* max-width: 1300px; */
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 14rem;
}

.header-title {
  /* font-family: Arvo; */
}

.nav {
}

.nav-list {list-style: none;display: flex;}

.nav-list-item {color: #757575;font-family: Lato;font-size: 1.2rem;margin-right: 2.2rem;}

.nav-list-item:last-child {
  margin-right: 0;
}

.splash-section {
  overflow: hidden;
  height: 90vh;
  background-color: #4F73A7;
}

.splash-container {/* background-color: rgba(79,115,167,0.6); *//* height: 20rem; */z-index: 8000;}

.splash-logo {
  margin-bottom: 2rem;
  width: 30rem;
  /* top: 499.8px; */
}

.splash-btn {background-color: #6db6ce;border: 0;color: #fff;font-size: 1.1rem;padding: 1.5rem 2rem;}


.icon {
  /*animation: heart 3s ease 0s 1 normal forwards;*/
  bottom: -20%;
  /*left: 50%;*/
  opacity: .12;
  position: absolute;
  height: 0rem;
  width: 0rem;
  padding: 1.5rem;
  /*box-sizing: content-box;*/
}

.icon {
  fill: red;
}

.how-to-section {padding: 1rem 0rem 0rem;}

.how-to-container {
  border-bottom: 1px solid #e5e5e5;
  padding: 0rem 5% 0rem 0;
  /* padding-bottom: 23rem; */
  width: 100%;
  height: 766px;
  align-items: center;
}

.listing-container {
  background-color: #fafafa;
  width: 100%;
  padding: 0rem 0 0rem 5%;
}

.safe-tab-container {
  border-bottom: 0;
  /* background-color: #fafafa; */
  width: 100%;
}

.how-to-header {
  font-family: Bariol;
  margin-bottom: 0.7rem;
}

.how-to-img {
  visibility: hidden;
  width: 47%;
}

.how-to-creation {/* align-self: flex-end; */left: 2%;width: 52%;}

.how-to-listing {width: 50%;}

.how-to-safe-tabs {
  left: 2%;
}

.how-to-text:not(.how-to-listing-text) {/* top: 5rem; */left: 10rem;width: 40%;opacity: 0;transition: all .6s;}

.how-to-listing-text {
  /* top: 5rem; */
  width: 40%;
  opacity: 0;
  transition: all .6s;
  right: 10rem;
}

.how-to-title {text-transform: uppercase;font-size: 1.1rem;font-family: Bariol;color: #6db6ce;margin-bottom: 0.3rem;/* font-size: 1.8rem; */}

.how-to-par {
  /* font-family: Bariol; */
  font-size: 1.5rem;
  color: #b7b7b7;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.3rem;
}

#overflow_tab {
  position: absolute;
}

#flash {
  width: 0%;
}

.share-section {
  background-color: #7dc5c5;
  /* background-image: url('../images/blue_gradient.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 6rem 3rem;
}
